/* ---------HEADER Starts---------  */
.header-container {
  max-width: 1224px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 20px;
}
/* ----------HEADER ENDS--------- */

/* -------------Home Page Starts------------ */
.hero-img {
  height: 454px;
  margin-bottom: 50px;
}

.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ******Offers Container Starts***** */
.offers-container {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.offer {
  margin-bottom: 35px;
}

.username-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.username-avatar img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.product-img {
  width: 235px;
  height: 360px;
  margin-bottom: 14px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ******Offers Container Ends***** */

/* -------------Home Page Ends------------ */

/* --------------Offer Page Starts-------------  */
.offer-container {
  background-color: #ebedee;

  padding: 40px 224px;
}

.inner-offer-container {
  width: 1074px;
  height: 606px;
  background-color: #ebedee;
  display: flex;
  justify-content: space-between;
}

.product-details {
  width: 400px;

  background-color: #fff;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-details li {
  display: flex;
  justify-content: space-between;
}

.product-image {
  height: 606px;
  width: 438px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.owner {
  display: flex;
  align-items: center;
}

.owner img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

/* --------------Offer Page Ends-------------  */

/* -----------Signup Page Starts--------- */
.signup-container {
  width: 274px;
  margin: 0 auto;
  padding: 80px;
}

.signup-container h2 {
  margin-bottom: 50px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* -----------Signup Page Ends--------- */

/* -----------Login Page Starts--------- */
.login-container {
  width: 274px;
  margin: 0 auto;
  padding: 80px;
}

.login-container h2 {
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* -----------Login Page Ends--------- */

/* -----------Publish Page Starts--------- */
.publish-container {
  width: 274px;
  margin: 0 auto;
  padding: 80px;
}

.publish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/* -----------Publish Page Ends--------- */

/* -----------Payment Page Starts--------- */
.payment-container {
  background-color: #ebedee;
  padding: 40px 660px;
}

.payment-form {
  width: 600px;
  height: 780px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  padding: 40px;
}

.payment-form ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.payment-form li {
  display: flex;
  justify-content: space-between;
}

.payment-form p {
  margin-bottom: 40px;
}
/* -----------Payment Page Ends--------- */
